{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
  {% asset 'vocabulary_services/add_edit_form' %}

  {% if is_update %}
    <h2>Edit vocabulary service: {{ data.title }}</h2>
  {% else %}
    <h2>Add a vocabulary service</h2>
  {% endif %}

  <form id="dataset-edit" class="dataset-form" method="post" action="{{ h.url_for('vocabulary_services.index', id=data.id) if is_update else h.url_for('vocabulary_services.index')}}" novalidate>

    {{ form.input(
      'title',
      id='field-title',
      label=_('Title'),
      value=data.title,
      error=errors.title,
      classes=['control-medium'],
      is_required=True
    ) }}

    {%
      set schemas = [
        {'text': 'Please select a schema', 'value': ''},
        {'text': 'Dataset', 'value': 'dataset__dataset_fields'},
        {'text': 'Data service', 'value': 'dataservice__dataset_fields'},
        {'text': 'Distribution', 'value': 'dataset__resource_fields'}
      ]
    %}
    {{ form.select(
        'schema',
        label=_('Schema'),
        options=schemas,
        selected=data.schema,
        error=errors.schema,
        is_required=True
    ) }}

    {% set linked_schema_field = h.get_linked_schema_field_options(services, data) %}
    <script>
      var linked_schema_field = {{ linked_schema_field|tojson }}
      var linked_schema_field_data = "{{ data.linked_schema_field }}"
      var schema_data = "{{ data.schema }}"
    </script>
    {{ form.select(
        'linked_schema_field',
        label=_('Linked schema field'),
        options=linked_schema_field[data.schema] if data.linked_schema_field else [],
        selected=data.linked_schema_field,
        error=errors.linked_schema_field,
        is_required=True
    ) }}

    {{ form.input(
        'name',
        id='field-name',
        label=_('Name'),
        value=data.name,
        error=errors.name,
        classes=['control-medium'],
        is_required=True
    ) }}

    {{ form.select(
        'type',
        label=_('Type'),
        options=h.get_vocabulary_service_types(),
        selected=data.type,
        error=errors.type,
        is_required=True
    ) }}

    {{ form.input(
        'uri',
        id='field-uri',
        label=_('URI'),
        value=data.uri,
        error=errors.uri,
        classes=['control-medium'],
        is_required=True
    ) }}

    {{ form.select(
        'update_frequency',
        label=_('Update frequency'),
        options=h.get_vocabulary_service_update_frequencies(),
        selected=data.update_frequency,
        error=errors.update_frequency,
        is_required=True
    ) }}

    {{ form.checkbox(
        'allow_duplicate_terms',
        id='field-allow-duplicate_terms',
        label=_('Allow duplicate terms'),
        value=True,
        checked="checked" if data.allow_duplicate_terms else "",
        error=errors.allow_duplicate_terms,
        classes=['control-medium']
    ) }}

    {{ form.checkbox(
        'is_hierarchical',
        id='field-is-hierarchical',
        label=_('Is hierarchical'),
        value=True,
        checked="checked" if data.is_hierarchical else "",
        error=errors.is_hierarchical,
        classes=['control-medium']
    ) }}

    {% if is_update %}
        {{ form.hidden('id', value=data.id) }}
    {% endif %}

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{{ _('Update') if is_update else _('Add vocabulary service') }}</button>
    </div>

  </form>

  <hr />

  <h2>Vocabulary services</h2>

    <style>
        table.vocabs tr td {
            border: none;
        }
        table details {
            display: inline-block;
        }
        tr.odd {
            background-color: #f8f8f8;
        }
        tr.even {
            background-color: transparent;
        }
    </style>

  {% if services %}
    <h3>Total: {{ services|length }}</h3>
    <table class="table vocabs">
      <thead>
        <th width="35%">Title</th>
        <th width="12%">Terms</th>
        <th width="25%">Actions</th>
      </thead>
      <tbody>
        {% set all_linked_schema_field = h.get_linked_schema_field_options([], []) %}
        {% for service in services %}
        <tr class="{{ 'even' if loop.index % 2 == 0 else 'odd' }}">
          <td>
              <strong>
                  <a title="Click to view terms" href="{{ h.url_for('vocabulary_services.terms', id=service.id) }}">{{ service.title }}</a>
              </strong>
              <br />
              <small>
                  {% if service.schema|trim|length > 0 %}
                    <strong>Schema:</strong>&nbsp;
                      {%- for schema in schemas -%}
                        {%- if schema.value == service.schema -%}
                          {{- schema.text -}}
                        {%- endif -%}
                      {%- endfor -%}
                    <br />
                  {%- endif -%}
                  {% if service.schema|trim|length > 0 %}
                    <strong>Linked schema field:</strong> {{ h.get_linked_schema_field_label(all_linked_schema_field, service.schema, service.linked_schema_field) }}
                    <br />
                  {%- endif -%}
                  <strong>Name:</strong> {{ service.name }}
                  <br />
                  <strong>Allow duplicate terms:</strong> {{ "Yes" if service.allow_duplicate_terms else "No" }}
                  <br />
                  <strong>Is hierarchical:</strong> {{ "Yes" if service.is_hierarchical else "No" }}
              </small>
              <br />
              <span class="label label-primary{% if service.type == 'vocprez' %}success{% else %}default{% endif %}">{{ service.type }}</span>
          </td>
          <td>
            <a href="{{ h.url_for('vocabulary_services.terms', id=service.id) }}">View terms</a>
          </td>
          <td>
            <a href="{{ h.url_for('vocabulary_services.refresh', id=service.id) }}" class="btn btn-sm btn-warning">Refresh</a>
            <a href="{{ h.url_for('vocabulary_services.index', id=service.id) }}" class="btn btn-sm btn-primary">Edit</a>
            <a href="{{ h.url_for('vocabulary_services.delete', id=service.id) }}" class="btn btn-sm btn-danger" data-module="confirm-action" data-module-content="Are you sure you want to delete this vocabulary service and its terms?">Delete</a>
          </td>
        </tr>
        <tr class="{{ 'even' if loop.index % 2 == 0 else 'odd' }}">
            <td colspan="3"><small>
                <details>
                    <summary>URI <span style="color: #bbb">(click to display)</span></summary>
                    URI: {{ service.uri }}
                </details>
            </small></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}

{% block secondary_content %}{% endblock %}