{% extends "admin/base.html" %}

{% block primary_content_inner %}

  <a href="{{ h.url_for('vocabulary_services.index') }}">&lt; Back</a>

  <h1>{{ vocabulary_service.title }} <small>(Name: {{ vocabulary_service.name }})</small></h1>

  <h2>Vocabulary terms <a href="{{ h.url_for('vocabulary_services.refresh', id=vocabulary_service.id) }}" class="btn btn-sm btn-warning">Refresh</a></h2>

  {% if terms %}
    <h3>Total: {{ terms|length }}</h3>

    <p>
        Last updated: {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=vocabulary_service.date_last_processed %}
    </p>

    <table class="table table-bordered table-striped">
      <tbody>
        {% for term in terms %}
        <tr class="{{ 'even' if loop.index % 2 == 0 else 'odd' }}">
          <td>
            <small>
              <strong>Label:</strong> {{ term.label }}<br/>
              <strong>URI:</strong> {{ term.uri }}<br/>
              {% if vocabulary_service.is_hierarchical %}
                <strong>Broader term:</strong> {{ term.broader }}<br/>
              {% endif %}
              <strong>Definition:</strong> {{ term.definition }}<br/>
              <strong>Quantity Kind:</strong> {{ term.quantity_kind }}<br/>
              <strong>Created:</strong> {{ term.date_created }}<br/>
              <strong>Updated:</strong> {{ term.date_modified }}<br/>
            </small>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}

{% block secondary_content %}{% endblock %}