{% extends "admin/base.html" %}

{% block primary_content_inner %}

  <a href="{{ h.url_for('vocabulary_services.index') }}">&lt; Back</a>

  <h1>{{ vocabulary_service.title }} <small>(Name: {{ vocabulary_service.name }})</small></h1>

  <h2>Vocabulary terms <a href="{{ h.url_for('vocabulary_services.refresh', id=vocabulary_service.id) }}" class="btn btn-sm btn-warning">Refresh</a></h2>

  {% if terms %}
    <h3>Total: {{ terms|length }}</h3>

    <p>
        Last updated: {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=vocabulary_service.date_last_processed %}
    </p>

    <table class="table table-bordered">
      <thead>
        <th>Label</th>
        <th>URI</th>
        {% if vocabulary_service.is_hierarchical %}
        <th>URI</th>
        {% endif %}
        <th>Definition</th>
        <th>Created</th>
        <th>Updated</th>
      </thead>
      <tbody>
        {% for term in terms %}
        <tr>
          <td>{{ term.label }}</td>
          <td>{{ term.uri }}</td>
          {% if vocabulary_service.is_hierarchical %}
          <td>{{ term.broader }}</td>
          {% endif %}
          <td>{{ term.definition }}</td>
          <td>{{ term.date_created }}</td>
          <td>{{ term.date_modified }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}

{% block secondary_content %}{% endblock %}